.bigContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardContainer {
  width: 480px;
  height: 440px;
  background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6612529002320185) 35%, rgba(0,212,255,1) 100%);
  display: grid;
  grid-template-columns: 100px 300px;
  grid-template-rows: 100px 50px 50px 50px 25px 25px;
  gap: 10px;
  justify-content: center;
  align-content: center;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 12px;
}

.cardContainer div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block {
  grid-column: 1/3;
}
